@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-right: 30px;
  padding-top: 20px; 
  padding-bottom: 20px;
  
}


nav {
  width: 100%;
  height: 75px;
  background-color: #e6e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  flex-wrap: wrap;
  gap: 20px;
}

nav .logo p {
  font-size: 20px;
  font-weight: bold;
  color: #815845;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

nav li {
  margin: 0 10px;
}

nav li a {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 10px;
  color: #815845;
  text-decoration: none;
}

nav li a:hover,
nav li a.active {
  color: #815845;
  font-weight: bold;
  transition: all 0.4s ease;
}

.search {
  background-color: transparent;
  border: 2px solid #815845;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: grey;
}

.search::placeholder {
  color: #815845;
}

.search:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: grey;
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 50px;
  padding: 10px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.home-text{
  text-align: center;
  padding: 35px;
}


.movie {
  width: 300px;
  margin: 1rem;
  background-color: #e6e5e5;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.movie-info {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info .text-release {
  font-size: 13px;
}

.movie-info span {
  background-color: #e6e5e5;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid white;
}

.movie-info span.green {
  color: #0bb20b;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #e6e5e5;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  color: #333;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

/* ===== Footer ===== */
footer {
  background-color: #e6e5e5;
  padding: 10px 0;
  text-align: center;
  color: #815845;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

footer a {
  color: #815845;
  padding: 0;
  margin: 0;
}


@media (max-width: 958px) {
  nav {
    flex-direction: column;
    padding: 10px 15px;
    gap: 0px;
  }
  nav span {
    display: none;
  }
  nav .logo p{
    margin-left: 25px;
  }
  .home-text{
    padding: 30px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin-right: 20px;
  }
  nav li a #hm {
    display: none;

  }
  nav li a {
    font-size: 12px;
    padding-bottom: 20px;
  }

  .search {
    display: none;
  }

  main {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 50px 50px;
  }

  .movie {
    width: 100%;
    max-width: 320px;
  }
  footer {
    padding: 0px;
    font-size: 12px;
  }
  .movie img {
    height: 400px;
  }
  footer span {
    display: none;
  }
}
